.home {
  padding: 2rem;
  text-align: center;
}

.music-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.8rem;
  margin-top: 1rem;
  justify-items: center;
  align-items: start;
  max-width: 90rem;
  margin: 0 auto;
  padding: 0 1rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}
